{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<p style="color:red">Do you want to delete "{{item}}" ?</p>
<div class="row">
  <div class="col-md-3">
    <div class="card card-body" style="background-color:#590BA6">
      <form action="{%url 'delete_order' item.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
        <input class="btn btn-danger" style="margin-left:70px" type="submit" name="Submit">
      </form>
    </div>
  </div>
</div>


{% endblock %}